<!DOCTYPE html>
<html>
<head>
    <title>Twitter Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Twitter Sentiment Analysis</h2>
        <form method="POST" action="/predict">
            <textarea name="tweet" rows="4" cols="50" placeholder="Enter tweet here..."></textarea><br><br>
            <input type="submit" value="Predict">
        </form>

        {% if prediction %}
            <h3>Predicted Sentiment: {{ prediction }}</h3>
        {% endif %}
    </div>
</body>
</html>
